<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>{{Intranet}}</title>
  </head>
  <body>
    <h1 class="login">{{login}}</h1>
    <form action="/{{__route}}/salvanome" method="post">
      <input type="hidden" name="oldLogin" id="oldLogin" value="{{login}}"/>
      <label for="newLogin">Update Login:</label>
      <input type="text" name="newLogin" id="newLogin" value="{{login}}" />
      <button type="submit">Save</button>
    </form>
    {{#error}}
      <a class="error">{{.}}</a>
    {{/error}}
    <form action="/{{__route}}/logout" method="get">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
